body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 600px;
  margin: auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

input {
  padding: 10px;
  border: 1px solid #444;
  background: #222;
  color: #fff;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #00aaff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0088cc;
}

.tarjeta {
  background: #222;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.tarjeta h3 {
  color: #00aaff;
}
.tarjeta img {
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}